.general-content-section {
  padding: 159px 0 36px 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 273px);
}

.general-content-section .general-content-div {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.general-content-section .general-content-div .top-heading-div {
  padding: 0;
  margin: 0 0 32px 0;
  position: relative;
}

.general-content-section .general-content-div .top-heading-div h1 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.general-content-section .general-content-div .top-heading-div h6.h6-sub-title {
  color: #707070;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 12px 0;
}

.general-content-section .general-content-div .top-heading-div h6.h6-sub-title.mb-18 {
  margin-bottom: 18px;
}

.general-content-section .general-content-div .top-heading-div p {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
  margin-bottom: 17px;
}

.general-content-section .general-content-div .top-heading-div .mb-18 {
  margin-bottom: 18px;
}

.general-content-section .general-content-div .top-heading-div.mb-18 {
  margin-bottom: 18px;
}

.general-content-section .general-content-div .top-heading-div.mb-42 {
  margin-bottom: 42px;
}

.general-content-section .general-content-div .top-heading-div.mb-48 {
  margin-bottom: 42px;
}

.general-content-section .general-content-div .general-content-body-div h2 {
  font-size: 35px;
  line-height: 43px;
  font-weight: 700;
  margin: 0 0 12px 0;
}

.general-content-section .general-content-div .general-content-body-div h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin: 0 0 24px 0;
}

.general-content-section .general-content-div .general-content-body-div h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin: 0 0 12px 0;
}

.general-content-section .general-content-div .general-content-body-div p {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
  margin-bottom: 17px;
}

.general-content-section .general-content-div .general-content-body-div ul li {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
  position: relative;
  padding-left: 10px;
}

.general-content-section .general-content-div .general-content-body-div ul li::before {
  content: "- ";
  position: absolute;
  left: 0;
}

.general-content-section .general-content-div .general-content-body-div ol {
  padding: 0;
}

.general-content-section .general-content-div .general-content-body-div ol li {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
  position: relative;
}

.general-content-section .general-content-div .general-content-body-div .border-gc-rw-bx-div {
  margin: 0 0 50px 0;
}

.general-content-section .general-content-div .general-content-body-div .border-gc-rw-bx-div .tp-heading-div {
  margin: 0 0 28px 0;
  border-bottom: 1px solid #bfbfbf80;
}

.general-content-section .general-content-div .general-content-body-div .border-gc-rw-bx-div .ct-body-div .ct-bd-list-rw-div {
  margin: 0 0 40px 0;
}

.general-content-section .general-content-div .general-content-body-div .border-gc-rw-bx-div .ct-body-div .ct-bd-list-rw-div h4 {
  font-weight: 700;
}

.general-content-section .general-content-div .general-content-body-div .border-gc-rw-bx-div ul.custom-list-gd li {
  padding: 0;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 16px 0;
}

.general-content-section .general-content-div .general-content-body-div .border-gc-rw-bx-div ul.custom-list-gd li::before {
  content: "";
}

.general-content-section .general-content-div .general-content-body-div .block {
  display: block;
}

.general-content-section .general-content-div .general-content-body-div .mb-14 {
  margin-bottom: 14px;
}

.general-content-section .general-content-div .general-content-body-div .mb-26 {
  margin-bottom: 26px;
}

.general-content-section .general-content-div .general-content-body-div .mb-28 {
  margin-bottom: 28px;
}

.general-content-section .general-content-div .general-content-body-div .mb-32 {
  margin-bottom: 32px;
}

.general-content-section .general-content-div .general-content-body-div .mb-44 {
  margin-bottom: 44px;
}

.general-content-section .general-content-div .general-content-body-div .mb-52 {
  margin-bottom: 52px;
}

.general-content-section .general-content-div .general-content-body-div .mb-74 {
  margin-bottom: 74px;
}

.general-content-section .general-content-div .general-content-body-div .mb-80 {
  margin-bottom: 80px;
}

.general-content-section.guides-general-content-section .general-content-div {
  font-family: "Montserrat", sans-serif;
}

.page-not-found-section {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-not-found-section .page-not-found-div {
  padding: 200px 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 273px);
  background: url(../images/page404.svg) no-repeat;
  background-size: contain;
  background-position: 100% 0;
}

.page-not-found-section .page-404-content-div {
  max-width: 905px;
  margin: 0 auto;
  position: relative;
}

.page-not-found-section .page-404-content-div .page-404-content-tp-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 0 20px 0;
}

.page-not-found-section .page-404-content-div .page-404-content-tp-row .page-404-content-tp-left {
  max-width: 515px;
}

.page-not-found-section .page-404-content-div .page-404-content-tp-row .page-404-content-tp-right h1 {
  font-size: 150px;
  line-height: 1;
  font-weight: 700;
  margin: 0;
  color: #414141;
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #000;
  margin: 0;
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row .page-404-content-bd-right {
  width: 100%;
  max-width: 550px;
  position: relative;
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar {
  max-width: 814px;
  width: 100%;
  border-radius: 3px;
  position: relative;
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar .search-div {
  padding: 0 !important;
  border-radius: 0 3px 3px 0;
  background: #41add4;
  background: linear-gradient(114deg, #41add4 0%, #1763a7 100%);
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar .input-group-prepend {
  margin: 0;
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar .search-icon {
  position: absolute;
  right: 10px !important;
  top: 2px;
  z-index: 9;
  height: 36px !important;
  width: 36px;
  border-color: transparent;
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar .input-group-text {
  background-color: transparent;
  border: 0;
  height: 40px;
  border-radius: 0 3px 3px 0;
  background-color: #fff;
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar .input-group-text i {
  font-size: 24px;
  color: rgba(71, 70, 69, 0.6);
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar .input-group-text .btn {
  height: 40px;
  border-radius: 0;
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar .input-group-text .btn-search {
  background: #41add4;
  background: linear-gradient(114deg, #41add4 0%, #1763a7 100%);
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  max-width: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 122px;
  border-color: transparent;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0;
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar .input-group-text .btn-search:hover {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar .input-group-text .btn-search:active {
  background: #2a6f85;
  background: linear-gradient(111deg, #2a6f85 0%, #09253b 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar .form-control {
  height: 40px;
  border-color: #fff;
  font-size: 16px;
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 15px;
  outline: none;
  border-radius: 3px;
  margin-right: -1px;
  z-index: 2;
  position: relative;
  background: #fff;
  border: 1px solid #235547ad;
}

.page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar .form-control:active {
  border-color: #003b8e;
}

@media (max-width: 767px) {
  .middle-section.general-middle-section {
    padding-top: 100px;
  }
  .middle-section.page-not-middle-main {
    padding-top: 100px;
  }
  .general-content-section {
    padding: 75px 0 20px 0;
  }
  .general-content-section .general-content-div .top-heading-div {
    margin: 0 0 40px 0;
  }
  .general-content-section .general-content-div .top-heading-div h1 {
    margin-bottom: 17px;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
  }
  .general-content-section .general-content-div .top-heading-div h6.h6-sub-title {
    font-size: 16px;
    line-height: 19px;
  }
  .general-content-section .general-content-div .general-content-body-div h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 19px 0;
  }
  .general-content-section .general-content-div .general-content-body-div h5 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin: 0 0 18px 0;
  }
  .general-content-section .general-content-div .general-content-body-div h2 {
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
    margin: 0 0 15px 0;
  }
  .general-content-section .general-content-div .general-content-body-div .border-gc-rw-bx-div .tp-heading-div {
    margin: 0 0 24px 0;
  }
  .general-content-section .general-content-div .general-content-body-div .border-gc-rw-bx-div .ct-body-div .ct-bd-list-rw-div h4 {
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 15px 0;
  }
  .general-content-section .general-content-div .general-content-body-div .border-gc-rw-bx-div ul.custom-list-gd li {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 8px 0;
  }
  .general-content-section .general-content-div .general-content-body-div .msc-mb-26 {
    margin-bottom: 26px;
  }
  .page-not-found-section {
    min-height: 520px;
  }
  .page-not-found-section .page-not-found-div {
    padding: 69px 0 180px 0;
    min-height: auto;
    background: transparent;
  }
  .page-not-found-section .page-404-content-div .page-404-content-tp-row {
    width: 100%;
    margin: 0 0 15px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-not-found-section .page-404-content-div .page-404-content-tp-row .page-404-content-tp-left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .page-not-found-section .page-404-content-div .page-404-content-tp-row .page-404-content-tp-left h2 {
    font-size: 22px;
    line-height: 42px;
    text-align: center;
    margin: 0;
  }
  .page-not-found-section .page-404-content-div .page-404-content-tp-row .page-404-content-tp-right {
    width: 100%;
  }
  .page-not-found-section .page-404-content-div .page-404-content-tp-row .page-404-content-tp-right h1 {
    font-size: 60px;
    line-height: 1;
    margin: 0 0 12px 0;
    text-align: center;
    width: 100%;
  }
  .page-not-found-section .page-404-content-div .page-404-content-bd-row {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-not-found-section .page-404-content-div .page-404-content-bd-row .page-404-content-bd-left {
    width: 100%;
    margin: 0 0 28px 0;
  }
  .page-not-found-section .page-404-content-div .page-404-content-bd-row h4 {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
  }
  .page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar {
    max-width: 100%;
    width: 100%;
    display: block;
  }
  .page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar .input-group-text {
    background-color: #f4f6fa;
  }
  .page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar .form-control.serach-text {
    background-color: #f4f6fa;
    border: 1px solid #40404080;
    border-radius: 5px;
    font-size: 15px;
  }
  .general-content-section .general-content-div .general-content-body-div .mb-80 {
    margin-bottom: 30px;
  }
  .general-content-section {
    padding: 35px 0 20px 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .general-content-section .general-content-div .general-content-body-div .mb-80 {
    margin-bottom: 30px;
  }
  .general-content-section {
    padding: 35px 0 20px 0;
  }
  .general-content-section .general-content-div .top-heading-div {
    margin: 0 0 40px 0;
  }
  .general-content-section .general-content-div .top-heading-div h1 {
    margin-bottom: 17px;
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
  }
  .general-content-section .general-content-div .top-heading-div h6.h6-sub-title {
    font-size: 16px;
    line-height: 19px;
  }
  .general-content-section .general-content-div .general-content-body-div h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 19px 0;
  }
  .general-content-section .general-content-div .general-content-body-div h5 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin: 0 0 18px 0;
  }
  .general-content-section .general-content-div .general-content-body-div h2 {
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
    margin: 0 0 15px 0;
  }
  .general-content-section .general-content-div .general-content-body-div .msc-mb-26 {
    margin-bottom: 26px;
  }
  .page-not-found-section {
    min-height: 725px;
  }
  .page-not-found-section .page-not-found-div {
    padding: 150px 0;
    min-height: auto;
  }
  .page-not-found-section .page-404-content-div .page-404-content-tp-row .page-404-content-tp-left {
    max-width: 425px;
  }
  .page-not-found-section .page-404-content-div .page-404-content-tp-row .page-404-content-tp-left h2 {
    font-size: 28px;
    line-height: 42px;
  }
  .page-not-found-section .page-404-content-div .page-404-content-tp-row .page-404-content-tp-right h1 {
    font-size: 110px;
  }
  .page-not-found-section .page-404-content-div .page-404-content-bd-row h4 {
    font-size: 18px;
    line-height: 28px;
  }
  .page-not-found-section .page-404-content-div .page-404-content-bd-row .page-404-content-bd-right {
    max-width: 450px;
  }
}

@media (max-width: 480px) {
  .general-content-section {
    padding: 35px 0 20px 0;
  }
  .general-content-section .general-content-div .general-content-body-div .mb-80 {
    margin-bottom: 0px;
  }
  .general-content-section .general-content-div .general-content-body-div .mb-32 {
    margin-bottom: 20px;
  }
  .general-content-section .general-content-div .general-content-body-div .mb-74 {
    margin-bottom: 30px;
  }
  .general-content-section .general-content-div .general-content-body-div .mb-44 {
    margin-bottom: 30px;
  }
  .page-not-found-section .page-404-content-div .page-404-content-bd-row .search-bar .form-control {
    padding-left: 15px;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  .page-not-found-section .page-404-content-div .page-404-content-tp-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-not-found-section .page-404-content-div .page-404-content-bd-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header.header.header-2 .navbar .navbar-brand {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px 0px;
    text-align: center;
    width: 100%;
    max-width: 180px;
  }
}
/*# sourceMappingURL=main.css.map */